// Custom styles.

// body 区域背景颜色设置
body{
    background: #E0FCCF;
}

// 侧边栏星空背景设置
.sidebar {
    background: url(/images/sildeBarBg.jpg) no-repeat !important;
    background-size: cover !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}